<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <link rel="stylesheet" href="./css/style.css" />

  </head>
  <body>
          {{>navbar}}
    <section class="login" id="login">
      <h1 class="heading"><i class="fas fa-user fa-2x"></i></h1>
      <h1 class="heading">Login</h1>
      <div class="row">
        <form action="/login" method="POST" data-aos="fade-right">
          <input
            type="email"
            placeholder="your email"
            class="box"
            name="email"
          />
          <input
            type="password"
            placeholder="your password"
            class="box"
            name="password"
          />
          <input type="submit" value="Sign in" class="btn" />
        </form>

        <div class="image" data-aos="fade-left">
          <img src="images/login.jpg" alt="" />
        </div>
      </div>
    </section>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    ></script>

    <!-- jquery cdn link  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>

    <!-- custom js file link  -->
  

    <!-- initializing aos  -->

    <script>
      AOS.init({ delay: 400, duration: 1000, });
    </script>

  </body>
</html>