<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    ></script>

    <!-- jquery cdn link  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>

    <!-- initializing aos  -->

    <script>
      AOS.init({ delay: 400, duration: 1000, });
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <link rel="stylesheet" href="./css/style.css" />

  </head>
  <body>
          {{>navbar}}
    <section class="register" id="register">
      <h1 class="heading">Sign Up</h1>
      <div class="row">
        <form action="/register" method="POST" data-aos="fade-right">
        <div class="form-control">
          {{!-- <label for="firstname">Firstname:</label> --}}
          <input type="text" placeholder="your firstname" id="firstname" class="box" name="firstname" />
        </div>
        <div class="form-control">
          {{!-- <label for="lastname">Lastname:</label> --}}
          <input type="text" placeholder="your lastname" id="lastname" class="box" name="lastname" />
          
        </div>
        <div class="form-control">
          {{!-- <label for="email">Email:</label> --}}
          <input
            type="email"
            placeholder="your email"
            id="email"
            class="box"
            name="email"
          />
          
        </div>
        <div class="form-control">
          {{!-- <label for="password">Password:</label> --}}
          <input
            type="password"
            placeholder="your password"
            id="password"
            class="box"
            name="password"
          />
          
        </div>
        <div class="form-control">
          {{!-- <label for="confirmpassword">Confirm Password:</label> --}}
          <input
            type="password"
            placeholder="confirm password"
            id="confirmpassword"
            class="box"
            name="confirmpassword"
          />
          
        </div>
          <input type="submit" value="register " class="btn" />
        </form>

        <div class="image" data-aos="fade-left">
          <img src="images/register.jpg" alt="" />
        </div>
      </div>
    </section>
     <!-- custom js file link  -->
    <script src="/script.js"></script>
  </body>
</html>